<nav>  
  <ul>  
   <li><a routerLink="/messages">Lista messaggi</a></li>
   <li><a routerLink="/userlist">Lista utenti registrati</a></li>
   <li><a routerLink="/gamelist">Partite</a></li>
   
  </ul>  
 </nav>
 <ul class="nav justify-content-end bottomfooter">
    <li class="nav-item">
      <div class="btn-group dropup">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{us.get_username()}}
        </button>
        <div class="dropdown-menu">
          <div class="dropdown-item" href="#">{{us.get_mail()}}</div>
          <div *ngIf="us.is_admin()" class="dropdown-item" href="#"><i class="fas fa-check"></i> Admin role</div>
          <div *ngIf="us.is_player()" class="dropdown-item" href="#"><i class="fas fa-check"></i> Palyer role</div>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item nav-link" (click)="logout()" >Logout</a>
        </div>
      </div>
    </li>
  </ul>