
<body *ngIf="loaded">
      <a > Partita :{{gameid}}</a>
      <div *ngIf='partita.gameStatus== 0'> Attesa secondo giocatore</div>
      <div *ngIf='partita.gameStatus== 4 && iswin()'> Partita finita hai vinto
        <li><a routerLink="/menu">Torna al menu</a></li>
      </div>
      <div *ngIf='(partita.gameStatus== 4)&&(!iswin())'> Partita finita hai perso
          <li><a routerLink="/menu">Torna al menu</a></li>
      </div>
      <div *ngIf='(partita.gameStatus== 2)||(partita.gameStatus== 1)||(partita.gameStatus== 3)'>
       <h1  *ngIf='!(turno)'> Non è il tuo turno attendi avversario..</h1>
    <div *ngIf='turno'>
         
        <div *ngIf='partita.gameStatus== 3' id="board">
            <div>
                <label>Opponent</label>
              </div>
        <table>
            <tr *ngFor="let row of OpponentBoard.matrix">
                <td (click)="fire(col.y, col.x,gameid)" *ngFor="let col of row" [ngClass]="{'miss': (opponentIsHit(col.y,col.x)==1), 'hit': (opponentIsHit(col.y,col.x)==2),'sunk':(opponentIsHit(col.y,col.x)==2)&& opponentSunk(col.y,col.x) }"></td>
            </tr>
          </table>
        </div>
        <div>
          <label>Me</label>
        </div>
        <div>
        <button *ngIf='cacciaindex>=0'(click)="setShip(Cacciatorpediniere,true);"> Cacciatorpediniere oriz</button> 
        <button *ngIf='sottomarinoindex>3'(click)="setShip(Sottomarino,true);" >Sottomarino oriz</button>
        <button *ngIf='carrozzataindex>5'(click)="setShip(Corazzata,true);">Corazzata oriz</button>
        <button *ngIf='portaindex==8'(click)="setShip(Portaerei,true);">Portaeri oriz</button>
        </div>
        <div>
          <button *ngIf='cacciaindex>=0'(click)="setShip(Cacciatorpediniere,false);"> Cacciatorpediniere verticale</button> 
          <button *ngIf='sottomarinoindex>3'(click)="setShip(Sottomarino,false);" >Sottomarino verticale</button>
          <button *ngIf='carrozzataindex>5'(click)="setShip(Corazzata,false);">Corazzata verticale</button>
          <button *ngIf='portaindex==8'(click)="setShip(Portaerei,false);">Portaeri verticale</button>
          </div>
        <div id="board">
        
        <table>
            <tr *ngFor="let row of MyBoard.matrix">
                <td (click)="post_ship(col.y,col.x,gameid,myindex,MyShip.horizontal)" *ngFor="let col of row" [ngClass]="{'boat': hasBoat(col.y,col.x)&&(myGridIsHit(col.y,col.x)==0)&&!(myGridisSunk(col.y,col.x)),'hit':(myGridIsHit(col.y,col.x)==2)&&!(myGridisSunk(col.y,col.x)),'sunk':(myGridIsHit(col.y,col.x)==2)&& myGridisSunk(col.y,col.x),'miss':!(hasBoat(col.y,col.x))&&(myGridIsHit(col.y,col.x)==1) } "></td>
            </tr>
        </table>

        
      </div>
      </div>
      <div>
        <h1 *ngIf='!(setnave)'> attenzione posizionamento non possibile selezionare nave o verificare posizione</h1>
      </div>
      <app-chat [theGame]="partita"></app-chat> 
</div>
</body>
